<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Web.Library.Properties.Settings.FilmDukkaniDBConnectionString"
            connectionString="Data Source=DESKTOP-6VGIM5M\SQL_2014;Initial Catalog=FilmDukkaniDB;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>