* {
    margin: 0 0 0 2px;
    padding: 0;
    outline: 0;
}

body {
    font-size: 12px;
    line-height: 1.3;
    font-family: Arial, Helvetica, Sans-Serif;
    color: #ccc;
    background: url('../images/body-bg.gif');
}

a {
    color: #e7b038;
    text-decoration: underline;
    cursor: pointer;
}

    a:hover {
        text-decoration: none;
    }

    a img {
        border: 0;
    }

input, textarea, select {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    overflow: auto;
}

.cl {
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -4000px;
    clear: both;
}

.notext {
    font-size: 0;
    line-height: 0;
    text-indent: -4000px;
}

.left, .alignleft {
    float: left;
    display: inline;
}

.right, .alignright {
    float: right;
    display: inline;
}

.text-right {
    text-align: right;
    padding-right: 2px;
}

h2 {
    font-size: 10px;
    color: #f2a223;
    font-weight: bold;
}

h3 {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

h4 {
    font-size: 14px;
    color: #f3b12b;
    font-weight: bold;
}

#shell {
    width: 1000px;
    margin: 0 auto;
}

#header {
    position: relative;
}

h1#logo {
    position: absolute;
    top: 37px;
    left: 0;
}

    h1#logo a {
        float: left;
        width: 239px;
        height: 49px;
        background: url('../images/Logo.png') no-repeat 0 0;
        font-size: 0;
        line-height: 0;
        text-indent: -4000px;
    }

.social {
    float: right;
    width: 160px;
    padding-top: 11px;
}

    .social span {
        float: left;
        display: inline;
        font-size: 10px;
        color: #9f9f9f;
        line-height: 16px;
        padding-right: 5px;
    }

    .social ul {
        list-style: none;
    }

        .social ul li {
            float: left;
            display: inline;
            width: 16px;
            padding-right: 2px;
        }

            .social ul li a {
                float: left;
                display: inline;
                width: 16px;
                height: 16px;
                background: url('../images/social.gif') no-repeat 0 0;
                font-size: 0;
                line-height: 0;
                text-indent: -4000px;
            }

                .social ul li a.facebook {
                    background-position: -18px 0;
                }

                .social ul li a.vimeo {
                    background-position: -36px 0;
                }

                .social ul li a.rss {
                    background-position: -54px 0;
                }

#navigation {
    float: right;
    clear: right;
    padding-top: 28px;
    padding-bottom: 47px;
}

    #navigation ul {
        list-style: none;
    }

        #navigation ul li {
            float: left;
            display: inline;
            padding-left: 29px;
        }

            #navigation ul li a {
                font-size: 14px;
                font-weight: bold;
                color: #fff;
                text-decoration: none;
            }

                #navigation ul li a.active, #navigation ul li a:hover {
                    color: #d91d2a;
                }

#sub-navigation {
    display: block;
    clear: right;
    border-top: 1px dashed #666;
    border-bottom: 1px dashed #666;
    padding: 8px 0;
}

    #sub-navigation ul {
        list-style: none;
    }

        #sub-navigation ul li {
            float: left;
            display: inline;
            padding-right: 23px;
        }

            #sub-navigation ul li a {
                font-size: 14px;
                font-weight: bold;
                color: #fff;
                line-height: 24px;
                text-decoration: none;
            }

                #sub-navigation ul li a:hover {
                    text-decoration: underline;
                }

#search {
    width: 346px;
    margin: 0 0 0 auto;
}

    #search label {
        float: left;
        display: inline;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        line-height: 24px;
        padding-right: 6px;
    }

    #search .search-field {
        width: 200px;
        border: 1px solid #413e3e;
        background: #000;
        color: #787878;
        padding: 2px 0 2px 2px;
        text-align: center;
    }

    #search .search-button {
        font-size: 14px;
        font-weight: bold;
        border: 0;
        background: none;
        color: #fff;
        cursor: pointer;
    }

#main {
    border-bottom: 1px dashed #413e3e;
    padding: 15px 0 3px 0;
}

#content {
}

.box {
    width: 160px;
    border-bottom: 1px dashed #413e3e;
    padding-bottom: 21px;
}

    .box .head {
        width: 980px;
        padding-top: 14px;
        padding-bottom: 11px;
    }

        .box .head h2 {
            float: left;
            display: inline;
        }

    .box .movie {
        width: 152px;
        float: left;
        padding-right: 12px;
    }

.movie-image {
    background: url(../images/icons/product_box_center.gif) repeat-y;
    float: left;
    text-align: center;
    padding: 5px 0px 5px 0px;
    margin: 0px;
    float: left;
    width: 155px;
    height: 155px;
    position: relative;
    margin: auto;
}

    .movie-image img {
        width: 152px;
        height: 150px;
    }

    .movie-image a {
        float: left;
        display: inline;
        width: 152px;
        height: 130px;
        position: relative;
        z-index: 2;
    }

.play {
    position: absolute;
    top: 0;
    left: 0;
    width: 152px;
    height: 214px;
    background: url('../images/image-hover.png');
    display: block;
    z-index: 5;
    cursor: pointer;
    display: none;
}

.movie span.name {
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding-top: 160px;
    display: block;
}

.box .last {
    padding: 0;
}

.rating {
    float: left;
    width: 152px;
    padding-top: 8px;
}

    .rating p {
        float: left;
        font-size: 10px;
        color: #fff;
        font-weight: bold;
    }

    .rating .stars {
        float: left;
        width: 60px;
        height: 11px;
        background: url('../images/stars.gif') no-repeat 0 0;
        margin-left: 2px;
    }

    .rating .stars-in {
        width: 48px;
        display: inline;
        background: url('../images/stars.gif') no-repeat 0 bottom;
        position: absolute;
        height: 11px;
        font-size: 0;
        line-height: 0;
        text-indent: -4000px;
    }

.comments {
    background: url('../images/comments.gif') no-repeat 0 center;
    padding-left: 12px;
    float: right;
}

#news {
    width: 460px;
    float: left;
}

    #news .head {
        width: 460px;
        padding-top: 0px;
        padding-bottom: 14px;
    }

    #news h3, #coming h3 {
        float: left;
    }

#coming {
    width: 490px;
    float: left;
    /*padding-left:0px;*/
}

    #coming .head {
        width: 490px;
        padding-top: 0px;
        padding-bottom: 14px;
    }

        #coming .head strong {
            color: #ff361a;
        }

    #coming .content {
        min-height: 130px;
        height: auto !important;
        height: 130px;
        padding-bottom: 20px;
        font-size: 13px;
    }

        #coming .content h4 {
            padding-bottom: 3px;
        }

.content {
    padding-bottom: 28px;
}

    .content .date {
        font-size: 10px;
        color: #fff;
    }

    .content img {
        float: left;
        width: 68px;
        padding-right: 8px;
    }

    .content p {
        font-size: 13px;
        color: #fff;
        line-height: 16px;
    }

    .content a {
        font-size: 11px;
    }

#footer {
    padding: 15px 0 0 0;
    font-size: 10px;
}

    #footer, #footer a {
        color: #9c9c9c;
        text-decoration: none;
    }

        #footer a:hover {
            text-decoration: none;
        }

        #footer p {
            margin: 0;
            padding: 0 0 11px 0;
            line-height: normal;
            white-space: nowrap;
        }

        #footer .lf {
            float: left;
        }

        #footer .rf {
            float: right;
        }

.left_content {
    width: 150px;
    /*width:auto;*/
    float: right;
    margin: 0px;
}

.title_box {
    width: 155px;
    height: 30px;
    margin: 5px 0 5px 0;
    background: url(../images/icons/menu_title_bg2.gif) no-repeat right;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    line-height: 30px;
}

.border_box{
width:140px;
height:115px;
text-align:center;
border:0px #6da6b1 solid;
}
/*--------left menu---------*/
ul.left_menu {
    width: 150px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    list-style: none;
}

    ul.left_menu li {
        margin: 0px;
        list-style: none;
    }

        ul.left_menu li.odd a {
            width: 150px;
            height: 25px;
            display: block;
            background: url(../images/icons/checked.png) no-repeat left #dad0d0;
            background-position: 5px 5px;
            border-bottom: 1px #FFFFFF solid;
            text-decoration: none;
            color: #504b4b;
            padding: 0 0 0 0;
            line-height: 25px;
        }

        ul.left_menu li.even a {
            width: 150px;
            height: 25px;
            display: block;
            background: url(../images/icons/checked.png) no-repeat left #eee6e6;
            background-position: 5px 5px;
            border-bottom: 1px #FFFFFF solid;
            text-decoration: none;
            color: #504b4b;
            padding: 0 0 0 0;
            line-height: 25px;
        }

            ul.left_menu li.even a:hover, ul.left_menu li.odd a:hover {
                background: url(../images/icons/checked.png) no-repeat left #787878;
                color: #FFFFFF;
                background-position: 5px 5px;
            }

.prod_details_tab {
    width: 155px;
    height: 35px;
    float: left;
    background: url(../images/icons/products_details_bg.gif) no-repeat left;
    margin: 3px 0 3px 0;
    padding: 15px 0 0 0;
    color: black;
}

.search_bt {
    float: right;
    padding: 0px 0px 2px 0px;
    text-align: center;
    width: 30px;
}

.center_content {
    width: 585px;
    float: left;
    padding: 5px 10px;
}

.center_title_bar {
    width: 520px;
    height: 33px;
    float: left;
    padding: 0 0 0 40px;
    margin: 0 0 0 12px;
    _margin: 0 0 0 6px;
    line-height: 33px;
    font-size: 12px;
    color: #847676;
    font-weight: bold;
    background: url(../images/icons/bar_bg.gif) no-repeat center;
}

.prod_box_big {
    width: 554px;
    height: auto;
    float: left;
    padding: 10px 10px 10px 15px;
}

.top_prod_box_big {
    width: 554px;
    height: 12px;
    background: url(../images/icons/details_box_top.gif) no-repeat center bottom;
    float: left;
    padding: 0px;
    margin: 0px;
}

.bottom_prod_box_big {
    width: 554px;
    height: 12px;
    background: url(../images/icons/details_box_bottom.gif) no-repeat center top;
    float: left;
    padding: 0px;
    margin: 0px;
}

.center_prod_box_big {
    width: 554px;
    height: auto;
    background: url(../images/icons/details_box_center.gif) repeat-y;
    float: left;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.product_img_big {
    width: 170px;
    padding: 5px 0 5px 10px;
    float: left;
}

.details_big_box {
    width: 345px;
    float: left;
    padding: 0 0 0 15px;
    text-align: left;
}

.product_title_big {
    color: GrayText;
    padding: 5px 0 5px 0;
    font-weight: bold;
    font-size: 14px;
}

.specifications {
    color: GrayText;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
}

span.blue {
    color: #5F9FAB;
}

.prod_price_big {
    padding: 5px 0 5px 0;
    font-size: 16px;
}

span.reduce {
    color: #999999;
    text-decoration: line-through;
}

span.price {
    color: #ea2222;
}

a.addtocart {
    width: 76px;
    height: 27px;
    display: block;
    float: left;
    background: url(../images/icons/addtocart.gif) no-repeat left;
    padding: 0 0 0 33px;
    text-decoration: none;
    line-height: 27px;
    color: #1c4a52;
}

a.compare {
    width: 110px;
    height: 27px;
    display: block;
    float: left;
    margin: 0 0 0 10px;
    background: url(../images/icons/compare2.gif) no-repeat left;
    padding: 0 0 0 33px;
    text-decoration: none;
    line-height: 27px;
    color: #1c4a52;
}

a.fragman {
    width: 50px;
    height: 27px;
    display: block;
    float: left;
    margin: 0 0 0 0px;
    background-color: #c8cabe;
    border: 2px solid red;
    padding: 10px;
    border-radius: 10px;
    /*padding: 0 0 0 33px;*/
    text-decoration: none;
    line-height: 27px;
    color: #1c4a52;
}

    a.fragman span:hover {
        color:#f3b12b;
    }

.bottom_prod_box_big {
    width: 554px;
    height: 12px;
    background: url(../images/icons/details_box_bottom.gif) no-repeat center top;
    float: left;
    padding: 0px;
    margin: 0px;
}
